body {
	background-color: gray;
}

li{
	width: 60px;
	height: 30px;
	font-size: 20px;
	list-style-type: none;
	padding: 5px;
}

li:hover{
	background-color: red;
	-o-transition:.7s;
	-ms-transition:.7s;
	-moz-transition:.7s;
	-webkit-transition:.7s;
	transition:.7s;
}

#info {
	padding-right: 10px;
	position: fixed;
	right: 0;
	top: 0;
	height: 30%;
	width: 40%;
	margin-right: 30px;
	visibility: hidden;
	background-color: white;
	border-style: solid;
	border-width: 1px;
}

h3{
	visibility: visible;
	color: red;
	margin: 5px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
}

#list {
	margin-left: 30px;
	margin-top: 20px;
}

input{
	margin: 5px;
	margin-bottom:40px;
}
